{{#if cloneCaseIds}}
    <h3 class="pane__section-title">{{t 'cloneCase.ids.name'}}</h3>
    {{#each cloneCaseIds}}
        <span class="clonecase-link">
            {{this}}
        </span>
    {{/each}}
{{/if}}
