<div class="button-group execution-display-toggle">
	{{#each stepDisplayParams}}
        <button class="{{b 'button' active=active}} {{b 'toggle' 'button'}}" data-param="{{stepDisplayParam}}">{{t translation}}</button>
    {{/each}}
</div>
